

body {
	background-color: #FFEEDD;
	font-family: Trebuchet MS, Tahoma, sans-serif;
}

textarea{
	font-family: Trebuchet MS, Tahoma, sans-serif;
	font-size: small;
}

p{
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap:break-word;
}

h1 {
	text-align: center;
	font-size: 30px;
	color: #352004;
	margin-right: 20px;
	padding: 10px;
}

h2{
	text-align: center;
	font-size: 25px;
	color: #191A19;
	padding: 5px;
	margin: 10px;
}

h3{
	text-align: center;
	font-size: 20px;
	color: #191A19;
	padding:5px;
	padding-right:0px;
}

h4{
	text-align: left;
	font-weight: bold;
}

#overlay {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100vw;
	height:100vh;
}

#dialog {
	margin: 20vh auto;
	padding-top:20px;
	width: 400px;
	background-color: white;
	border:1px solid black;
	text-align:left;
}

#dialog>p{
	margin-left:7%;
}

#input1{
	width:86%;
	margin-left:7%;
	border: solid royalblue 1px;
	font-family: Trebuchet MS, Tahoma, sans-serif;
	font-size: small;
}

#input2{
	width:86%;
	height:150px;
	margin-left:7%;
	border: solid royalblue 1px;
	font-family: Trebuchet MS, Tahoma, sans-serif;
	font-size: small;
	resize: none;
}

#buttonArea{
	height:60px;
	width:100%;
	background-color: lightgrey;
	text-align:center;
	display:table;
}

#buttonWrapper{
	display: table-cell;
	vertical-align: middle;
}

input.button{
	width:80px;
	height:25px;
}

#overlayBackground{
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100vw;
	height:100vh;
	background-color: black;
	opacity:0.5;
}

#wrapper{
	width: 95%;
	min-width: 950px;
	text-align: center;
	overflow-x: scroll;
	margin-left: auto;
	margin-right: auto;
}

div.column{
	background-color: #FF9812;
	text-align:center;
	width: 31.5%;
	min-width:250px;
	float: left;
	margin-left:0.5%;
	margin-right: 0.5%;
	margin-bottom: 20px;
	min-height: 700px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px grey;
	border: solid #CD7400 2px;

}

div.column-header{
	min-height: 60px;
	background-color: #FFCA85;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	padding: 5px;
	border-bottom: solid #CD7400 2px;
	box-shadow: 0px 5px 5px grey;
}

div.workItem{
	text-align: left;
	padding: 10px;
	padding-top: 0px;
	margin: 15px;
	background-color: #FFCA85;
	border-radius: 5px;
	border: solid #1279ff 2px;
	box-shadow: 5px 5px 5px grey;
}

ul{
	padding-left:30px;
}

div.seperator{
	height:2px;
	width:100%;
	background-color: #FF9812;
}

span.iconBig{
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	font-size: 30px;
	margin-left: 5px;
	cursor:pointer;
}

span.iconSmall{
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 5px;
	font-size: 20px;
	cursor:pointer;
}

span.iconLeft{
	float: left;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 0px;
	font-size: 20px;
}

input.inputOneLine{
	float: right;
	width: 200px;
	height: 20px;
}

input.inputMoreLines{
	float: right;
	width: 200px;
	height: 200px;
}

#workersList>li{
	min-height: 24px;
}


